.carousel-item{
    width: 100vw;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
#carousel-0{
    background-image: url(../images/men-carousel1.webp);
}
#carousel-1{
    background-image: url(../images/women-carousel1.webp);
}
#carousel-2{
    background-image: url(../images/men-carousel2.webp);
}
#carousel-3{
    background-image: url(../images/carousel-winter-1-2.webp);
    background-position: top;
}
#carousel-4{
    background-image: url(../images/carousel-winter-3-4.webp);
    background-position: top;
}
#carousel-5{
    background-image: url(../images/carousel-winter-5-6.webp);
    background-position: top;
}