#img-cards-overlay {
    background-color: #f9f9f9;

    .card:hover {
        &>div {
            background-color: rgba(0, 0, 0, 0.7);
            transition: 300ms linear background-color;
        }
    }

    a {
        font-family: "Playfair Display", serif;
        font-weight: 700;
        font-size: 1.125rem;
        line-height: 1.875rem;
        text-shadow: 1px 1px 1px #000;
    }

    p {
        font-family: "Nothing You Could Do", sans-serif, "Arial", "Helvetica";
        color: $rose;
        text-shadow: 0px 1px 1px #222;
        line-height: 1.125rem;
    }
}

#essentials-men,
#winter-women {
    height: 100vh;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;

    h1 {
        font-family: "Playfair Display", serif;
        color: white;
        font-weight: 700;
        // line-height: 1.875rem;
        text-align: center;
        font-size: 3rem;

        span {
            font-family: "Nothing You Could Do", sans-serif, "Arial", "Helvetica";
            color: $rose;
            text-shadow: 0px 1px 1px #222;
            font-size: 2.125rem;
            margin-top: 1.875rem;
        }
    }

    p {
        font-size: 0.875rem;
        color: white;
        width: 40%;
        text-align: center;
    }

    .btn-outline-success {
        color: #fff;
        border: 2px solid white;
        border-radius: 2.5rem;
        height: 3.625rem;
        padding: 0.625rem 1.875rem;
        line-height: 1.875rem;
        font-size: 1rem;
        font-weight: 700;
        transition: all 0.2s ease-in-out;
        text-transform: uppercase;
        opacity: 0;
        box-shadow: none;
    }

    .btn-outline-success:hover {
        background-color: #6967677c;
    }

    &>div.in-view {
        h1 {
            animation: scale-up-center-main 1.5s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
        }

        .btn-outline-success {
            animation: slide-bottom-main 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}

#essentials-men {
    background-image: url(../images/actor-adult-black-and-white-432059.jpg);
    background-position: 30% 30%;

}

#winter-women {
    background-image: url(../images/new-look-winter-women-2.jpg);
    background-position: 30% 30%;
}

#women-coats,
#men-wear {

    #carousel-coats,
    #carousel-men {
        &>div {
            // background-color: aquamarine;
            height: 80%;
            width: 90%;
            margin: 0 auto !important;
            padding-top: 50px;
        }
    }

    #background-coats,
    #background-men {
        height: 100vh;
    }



    h1 {
        font-size: 1.5rem;
        font-weight: 700;

        span {
            font-size: 1rem;
            color: $rose;
        }
    }


    .owl-dot:focus {
        outline: 0;
    }

    .animation-element.in-view {
        animation: slide-top-carousel 1.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.img-container {
    position: relative;

    .card-img-bottom {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        opacity: 0;
        transition: 500ms opacity;
    }

    .card-img-top {
        opacity: 1;
        transition: 500ms opacity;
    }

    .view {
        position: absolute;
        z-index: 1;
        top: 80%;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(34, 34, 34, 0.575);
        color: white;
        opacity: 0;
        transition: 500ms opacity;
    }
}

.img-container:hover {
    .card-img-bottom {
        opacity: 1;
        transition: 500ms opacity;
    }

    .card-img-top {
        opacity: 0;
        transition: 500ms opacity;
    }

    .view {
        opacity: 1;
        transition: 500ms opacity;
    }

    .view:hover {
        background-color: rgba(34, 34, 34, 0.775);
        transition: 500ms background-color;
    }
}

//------------------------------------product card--------------------------------------------------------------
.card-body {
    h5 {
        font-size: .8rem;
        text-transform: capitalize;

        span {
            font-size: 1.125rem;
            color: $rose;
        }
    }

    h6 {
        margin-bottom: 0.75rem;
    }
}

.btn-select-options {
    border: 2px solid black;
    border-radius: 0;
    font-size: 0.875rem;
    color: black;
    box-shadow: none;
}

.btn-select-options:hover {
    background-color: white;
    color: $rose;
    border: 2px solid $rose;
    border-radius: 2.5rem;
    transition: 500ms;
}

//-------------------------------------------------------------------------------------------------------------


#women-coats {
    #background-coats {
        background-image: url(../images/women_coats_img3.jpg.webp);
        background-size: cover;
        background-position-x: 70%;
    }
}

#men-wear {
    #background-men {
        background-image: url(../images/men-wear.webp);
        background-size: cover;
    }
}

#benefits {
    background-color: #f9f9f9;

    .row>div {
        border-right: .7px solid #36373870;
    }

    .row>div:last-child {
        border-right: none;
    }

    i {
        font-size: 2rem;
        color: $rose;
    }

    h1.text-muted {
        font-size: 1.25rem;
    }

    h2.text-muted {
        font-size: .875rem;
        text-align: center;
    }

    .position-relative:hover {

        a.text-muted,
        h2.text-muted {
            color: $rose !important;
        }
    }

    .close {
        font-size: 4rem;
    }

    .close:active,
    .close:focus {
        outline: 0;
        border: none;
    }

    .animation-element.in-view {
        animation: slide-top-carousel 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}

.related-products {
    h2 {
        font-size: 1.125rem;
        margin-bottom: 1.0625rem;
    }

    li {
        img {
            width: 64px;
            height: 64px;
        }
    }

    .card-img-overlay:hover {
        background-color: rgba(0, 0, 0, 0.5);

        .btn-outline-success {
            animation: slide-br .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

    }

    .card-img-overlay {
        overflow: hidden;

        input {
            background-color: rgba(255, 255, 255, 0.9);
            font-size: .85rem;
            border-radius: 0;
            border: none;
            box-shadow: none;
        }

        .btn-outline-success {
            background-color: rgb(204, 204, 204);
            border-radius: 0;
            border: none;
            color: #fff;
            opacity: 0;
            animation: slide-br-reverse .5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            box-shadow: none;
        }

        .btn-outline-success:hover {
            background-color: rgb(148, 148, 148);
            color: rgb(243, 243, 243);
            opacity: 0;
        }

    }

    .media {
        >a:hover+.media-body {
            a {
                color: $rose !important;
                transition: 400ms color;
            }
        }
    }

    .media-body {
        a {
            font-size: 0.8125rem;
        }

        a:hover {
            color: $rose !important;
            transition: 400ms color;
        }

        ul {
            font-size: 0.8125rem;

        }

        p {
            font-size: 0.8125rem;
        }
    }
}

//--------------------------------------------------------------------------------------------------
//----------------------------------------------jumbotron-------------------------------------------
.jumbotron {
    background-size: cover;
    background-repeat: no-repeat;
    margin-top: 60px;
    padding-top: 100px;
    background-color: #363738;

    h1 {
        font-family: "Playfair Display", "Helvetica", serif;
        font-size: 54px;
        color: #363738;

    }

    span {
        font-size: 21px;
        color: #363738;
        font-family: 'Raleway', sans-serif;
    }

    &>div {
        color: $rose;
        font-size: 15px;

        a {
            color: $rose;
            font-size: 15px;
        }
    }
}

#jumbotron-cover {
    position: absolute;
    top: 40%;
    bottom: 15%;
    right: 0;
    left: 0;
    background-color: rgba(229, 107, 111, 0.5);
    z-index: 1;
}

#jumbotron-cover+div {
    position: relative;
    width: 97%;
    z-index: 2;
}

.jumbotron-shop {
    background-image: url(../images/desktop-aw19-north-join-life-collection-puffers-woman-basic-img-01.st.jpg);
    background-position-x: 70%;
}

.jumbotron-contact-us {
    background-image: url(../images/contact-us-jumbotron.svg);
    padding-bottom: 100px;

}

.jumbotron-wishlist {
    background-image: url(../images/wishlist-jumbotron-1.svg);
    padding-bottom: 100px;
    background-position-y: 40%;
}

.jumbotron-account {
    background-image: url(../images/account-jumbotron.svg);
    padding-bottom: 100px;
    background-position-y: 0%;

}

.jumbotron-cart {
    background-image: url(../images/cart-jumbotron.webp);
    padding-bottom: 100px;
    background-position-y: 10%;
}

.jumbotron-checkout{
    background-image: url(../images/checkout-jumbotron-2.webp);
    padding-bottom: 100px;
    background-position-y: 0%;
}

//----------------------------------------------filters accordion--------------------------------------
.accordion-toggle {
    cursor: pointer;
}

.accordion-toggle .icon {
    float: right;
    margin-left: 10px;
}

.accordion-toggle .icon:before {
    display: inline-block;
    content: "+";
    font-size: 25px;
    line-height: 12px;
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    transition: .2s ease;
}

.accordion-toggle.open .icon:before {
    -moz-transform: rotate(135deg);
    -o-transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    transform: rotate(135deg);
    transform-origin: 50% 50%;
}

.accordion-content {
    display: none;
}

.accordion-content.default {
    display: block;
}

.accordion-box {
    padding: 1.5em 1em 2em 1em;

}

.accordion-box p {
    margin-right: 40px;
}

//----------------------------------------------filters price slider--------------------------------------
.noUi-target {
    width: 90%;
    margin: 0 auto;
    border: none;
    background-color: #d6d9dc;
    height: 5px;
}

.noUi-handle {
    outline: none;
    cursor: pointer;

}

.noUi-horizontal .noUi-handle {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: $rose;
}

.noUi-handle {
    border: none;
    box-shadow: none;
}

html:not([dir=rtl]) .noUi-horizontal .noUi-origin {
    right: 8px
}

.noUi-connect,
.noUi-origin {
    top: 0px;
}

.noUi-handle:after,
.noUi-handle:before {
    display: none;
}

.noUi-connect {
    background-color: #818181;
    height: 5px;
    top: 0;
}

#skip-value-lower,
#skip-value-upper {
    box-shadow: none;
}

#skip-value-lower:focus,
#skip-value-upper:focus {
    border: 1px solid #ced4da;
}

#filter-Price-Btn,
#filter-Price-Btn-clone {
    box-shadow: none;
    border: 2px solid $rose;
    color: white;
    background-color: $rose;
    position: relative;
    width: 64px;
    height: 36px;

    //64w 36 h
    span {
        position: absolute;
        top: 0;
        left: 0;
        background-color: transparent;
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        font-size: 12px;
        text-transform: uppercase;
    }

    &:before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
        width: 100%;
        height: 100%;
        z-index: 1;
        transform: scale(0);
        opacity: 0;
        animation: scale-up-center-btn-reverse 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
    }
}

#filter-Price-Btn:hover,
#filter-Price-Btn-clone:hover {
    color: $rose;

    &:before {
        animation: scale-up-center-btn 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
        transform: scale(1);
        opacity: 1;
    }
}

//----------------------------------------------Filters Colors Radio--------------------------------------
.custom-radios {

    div {
        display: inline-block;
    }

    input[type="radio"] {
        display: none;

        +label {
            color: #333;
            font-family: Arial, sans-serif;
            font-size: 14px;

            span {
                display: inline-block;
                width: 30px;
                height: 30px;
                margin: -1px 4px 0 0;
                vertical-align: middle;
                cursor: pointer;
                border-radius: 50%;
                border: 2px solid #FFFFFF;
                box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.33);
                background-repeat: no-repeat;
                background-position: center;
                text-align: center;
                line-height: 24px;

                img {
                    opacity: 0;
                    transition: all .3s ease;
                }
            }
        }

        &#color-1+label span,
        &#color-1-clone+label span {
            background-color: $color-1;
        }

        &#color-2+label span,
        &#color-2-clone+label span {
            background-color: $color-2;
        }

        &#color-3+label span,
        &#color-3-clone+label span {
            background-color: $color-3;
        }

        &#color-4+label span,
        &#color-4-clone+label span {
            background-color: $color-4;
        }

        &#color-5+label span,
        &#color-5-clone+label span {
            background-color: $color-5;
        }

        &#color-6+label span,
        &#color-6-clone+label span {
            background-color: $color-6;
        }

        &#color-7+label span,
        &#color-7-clone+label span {
            background-color: $color-7;
        }

        &:checked#color-7+label span,
        &:checked#color-7-clone+label span {
            border: 2px solid #000;
            transition: border .3s ease;
        }

        &#color-8+label span,
        &#color-8-clone+label span {
            background-color: $color-8;
        }

        &#color-1-AA149+label span {
            background-color: $color-1-AA149;
        }

        &#color-2-AA149+label span {
            background-color: $color-2-AA149;
        }

        &#color-3-AA149+label span {
            background-color: $color-3-AA149;
        }

        &#color-1-AA149-modal+label span {
            background-color: $color-1-AA149;
        }

        &#color-2-AA149-modal+label span {
            background-color: $color-2-AA149;
        }

        &#color-3-AA149-modal+label span {
            background-color: $color-3-AA149;
        }

        &:checked+label span img {
            opacity: 1;
        }

        &:checked+label {
            font-weight: 700;
        }
    }
}

//----------------------------------------------Filters Size Radio--------------------------------------
.option-group {
    width: 90%;
    max-width: 400px;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 0.25em;
    font-size: 4rem;
    margin: 0.2em auto;
    //  will-change: transform;
    transform: translateZ(0);
}

#prod-AA149-sizes {
    .option-group {
        max-width: 300px;
        height: 120px;
        border-radius: 0.25em;
        font-size: 3rem;
    }

}

.option-container {
    display: flex;
    justify-content: center;
    align-items: stretch;
    width: 120%;
    height: 100%;
    margin: 0 -10%;
}

.option {
    overflow: hidden;
    flex: 1;
    display: block;
    padding: 0.5em;
    background: #FFF;
    position: relative;
    margin: 0em;
    margin-right: 0.2em;

    &:last-child {
        margin-right: 0;
    }

    border-radius: 0.25em;

    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    flex-direction: column;

    cursor: pointer;

    opacity: 0.5;
    transition-duration: 0.8s,
    0.6s;
    transition-property: transform,
    opacity;
    transition-timing-function: cubic-bezier(.98, 0, .22, .98),
    linear;
    will-change: transform,
    opacity;
}

.option__indicator {
    display: block;
    transform-origin: left bottom;
    transition: inherit;
    will-change: transform;
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    left: 0.5em;

    &:before,
    &:after {
        content: '';
        display: block;
        border: solid 2px $rose;
        border-radius: 50%;
        width: 0.25em;
        height: 0.25em;
        position: absolute;
        top: 0;
        right: 0;
    }

    &:after {
        background: $rose;
        transform: scale(0);
        transition: inherit;
        will-change: transform;
    }
}

.option-input {
    position: absolute;
    top: 0;
    z-index: -1;
    visibility: hidden;
}

.option__label {
    display: block;
    width: 100%;
    text-transform: uppercase;
    font-size: 1.5em;
    font-weight: bold;

    transform-origin: left bottom;
    transform: translateX(20%) scale(0.7);
    transition: inherit;
    will-change: transform;

    sub {
        margin-left: 0.25em;
        font-size: 0.4em;
        display: inline-block;
        vertical-align: 0.3em;
    }

    &:after {
        content: '';
        display: block;
        border: solid 2px $rose;
        width: 100%;
        transform-origin: 0 0;
        transform: scaleX(0.2);
        transition: inherit;
        will-change: transform;
    }
}

.option:last-child {
    .option__label {
        transform: translateX(0%) scale(0.7);
    }

    .option__indicator {
        transform: translateX(-20%);
    }
}

.option-input:checked~.option {
    transform: translateX(-20%) translateX(0.2em);

    .option__indicator {
        transform: translateX(0%);
    }

    .option__label {
        transform: translateX(40%) scale(0.7);
    }
}

.option-input:first-child:checked~.option {
    transform: translateX(20%) translateX(-0.2em);

    .option__indicator {
        transform: translateX(-40%);
    }

    .option__label {
        transform: translateX(0%) scale(0.7);
    }
}

.option-input:nth-child(1):checked~.option:nth-of-type(1),
.option-input:nth-child(2):checked~.option:nth-of-type(2) {
    opacity: 1;

    .option__indicator {
        transform: translateX(0);

        &::after {
            transform: scale(1);
        }
    }

    .option__label,
    .option__label::after {
        transform: scale(1);
    }
}

//----------------------------------------------Filters Brand checkbox--------------------------------------

.inputGroup {
    background-color: #fff;
    display: block;
    margin: 10px 0;
    position: relative;

    label {
        padding: 12px 30px;
        width: 100%;
        display: block;
        text-align: left;
        color: #3C454C;
        cursor: pointer;
        position: relative;
        z-index: 2;
        transition: color 200ms ease-in;
        overflow: hidden;

        &:before {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            content: '';
            background-color: #E56B70;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) scale3d(1, 1, 1);
            transition: all 300ms cubic-bezier(0.4, 0.0, 0.2, 1);
            opacity: 0;
            z-index: -1;
        }

        &:after {
            width: 32px;
            height: 32px;
            content: '';
            border: 2px solid #D1D7DC;
            background-color: #fff;
            background-image: url("../images/check-icn.svg");
            background-repeat: no-repeat;
            background-position: 50% 50%;
            border-radius: 50%;
            z-index: 2;
            position: absolute;
            right: 30px;
            top: 50%;
            transform: translateY(-50%);
            cursor: pointer;
            transition: all 200ms ease-in;
        }
    }

    input:checked~label {
        color: #fff;

        &:before {
            transform: translate(-50%, -50%) scale3d(56, 56, 1);
            opacity: 1;
        }

        &:after {
            background-color: $rose;
            border-color: $rose;
        }
    }

    input {
        width: 32px;
        height: 32px;
        order: 1;
        z-index: 2;
        position: absolute;
        right: 30px;
        top: 50%;
        transform: translateY(-50%);
        cursor: pointer;
        visibility: hidden;
    }
}

//--------------------------------shop layout-------------------------------------------------------
#dropdownSort,
#filters-collapse-btn {
    box-shadow: none;
    border-radius: 0;
}

#dropdownSort:hover,
#filters-collapse-btn:hover {
    background-color: #c9c9c9;
    transition: 500ms;
}

#dropdownSort[aria-expanded=true],
#filters-collapse-btn[aria-expanded=true] {
    background-color: black;
    color: white;
    transition: 500ms;

    &:after {
        transform: rotate(180deg);
    }
}

#shop-results {
    font-size: 14px;
}



div[aria-labelledby=dropdownSort] {
    .dropdown-item {
        font-size: .75rem;
    }
}

div[aria-labelledby=dropdownSort] {
    .dropdown-item:hover {
        color: $rose !important;
        background-color: white;
        transition: 700ms;
    }
}

@media(max-width:375px) {
    #shop-results {
        display: none;
    }

    #jumbotron-cover+div {
        h1 {
            font-size: 44px;
        }

        span {
            font-size: 17px;
        }
    }
}

//--------------------------------------Product page--------------------------------------------------------
.navbar-represent {
    padding-top: 113px;
}

.zoom {
    cursor: crosshair;
    overflow: hidden;
}


.zoom img::selection {
    background-color: transparent;
}

.thumbnails {
    overflow: hidden;
    margin: 1em 0;
    padding: 0;
    text-align: center;
}

.thumbnails li {
    display: inline-block;
    max-width: 72px;
    margin: 0 5px;
    position: relative;
}

li.zoom-active::after {
    content: '';
    position: absolute;
    left: 0%;
    right: 0%;
    top: 100%;
    width: 100%;
    border: 1px solid #222;
}

.thumbnails img {
    display: block;
    min-width: 100%;
    max-width: 100%;
}

.toggle {
    display: block;
    margin: 10px auto 1.5em;
}

.prod-info {
    h1 {
        font-size: 16px;
    }

    .text-muted {
        font-size: 13px;
    }

    .text-nowrap {
        font-size: 18px;
    }
}

.prod-quantity {
    font-size: 14px;
    box-shadow: none !important;
    width: 60px;
    font-weight: bold;

    option {
        font-weight: bold;
    }

}

.prod-quantity:focus {
    outline: none !important;
    border-color: #a3a8b4;
}

.prod-action {
    .btn {
        box-shadow: none;
    }

    .btn:first-of-type {
        background-color: $rose;
        color: #fff;
    }

    .btn:last-of-type {
        background-color: #D1D7DC;
        color: $rich-black;
        font-size: 14px;
    }

    .btn:first-of-type:hover {
        background-color: rgba(211, 29, 93, 0.85);
    }

    .btn:last-of-type:hover {
        background-color: rgba(209, 215, 220, 0.85);
    }
}

.prod-expand {
    position: absolute;
    bottom: 10px;
    right: 10px;
    z-index: 9;
    font-size: 1.5rem;
    cursor: pointer;
    box-shadow: none !important;
}

.prod-expand.btn:hover,
.prod-expand.btn:focus {
    background-color: #f8f9fa !important;

    i {
        transform: scale(1.75);
        transform-origin: 50 50;
        transition: 200ms transform;
    }
}

.prod-fullScreen {
    position: fixed;
    z-index: 100;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #f8f9fa;

    &>div {
        overflow: auto;

        div {
            width: 90%;
        }
    }

    button {
        box-shadow: none !important;
        font-size: 3rem;
    }

    button:first-of-type {
        font-size: 1.5rem;
    }
}

#easyZoomOverlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(248, 249, 250, 0.6);
}

.shop-look {
    div:hover {
        .stretched-link {
            color: $rose !important;
            transition: 400ms color;
        }
    }

    h6,
    .stretched-link {
        font-size: 13px;
    }
}

.prod-details {

    font-size: 13px;

    h3 {
        font-size: 16px;
        font-weight: bold;
    }

    ul {
        padding-left: 0;

        li {
            list-style-position: inside;
            list-style-type: square;

        }
    }


}

#prod-rating {
    input {
        position: absolute;
        opacity: 0;
        cursor: pointer;
        height: 0;
        width: 0;
    }

    label {
        cursor: pointer;
    }

    label:hover {
        color: $rose !important;
        transition: 400ms color;
    }

    input:checked+label {
        color: $rose !important;
        transition: 400ms color;
    }
}

.prod-review-head {
    font-size: 13px;

    h3 {
        font-size: 16px;
        font-weight: bold;
    }
}

.prod-review {
    font-size: 13px;

    h4 {
        font-size: 16px;
        font-weight: bold;
    }

    .form-control,
    button {
        box-shadow: none !important;
        outline: none;
        border-radius: 0;
    }

    .form-control:focus {
        border-color: #a3a8b4;
    }

    textarea,
    input {
        color: #656c7e;
        background-color: #fbfbfb;
    }

    button {
        background-color: $rose;
        color: #fff;
    }

    button:hover {
        background-color: rgba(211, 29, 93, 0.85);
        color: #FFF;
    }
}

.prod-related {
    h4 {
        font-size: 16px;
        font-weight: bold;
    }
}

#productModal{
    width: 100%;
    .modal-dialog{
        max-width: 90%!important;
    }
    .modal-header{
        border: none!important;
        // background-color: red;
        padding: 0;
        padding-right: 10px;
    }
    .close{
        font-size: 3rem;
        outline: none;
        
    }
}

//----------------------------------------contact us-----------------------------------------------------------
#map {
    height: 400px;
    width: 100%;
}

.contact-us-info {
    font-size: 13px;

    h3 {
        font-size: 16px;
        font-weight: bold;
    }

    a {
        color: black;
        font-weight: bold;
        text-decoration: underline;
    }
}

//----------------------------------------wishlist-----------------------------------------------------------
.wishlist {
    .btn {
        box-shadow: none;
    }

    a:hover {
        color: $rose !important;
        transition: 400ms color;
    }

    .close {
        float: none;
    }

    .close:hover {
        color: #F32013;
    }
}

//----------------------------------------my account -----------------------------------------------------------
.login,
.signUp,
.forgot-password {
    .form-wrapper {
        border-top: 1px dashed #a3a8b4;
        border-bottom: 1px dashed #a3a8b4;
    }

    .wrapper {
        position: relative;
    }

    input,
    #country {
        font-size: 14px;
        height: 50px;
        font-weight: bold;
        box-shadow: none !important;
        padding-top: 20px;
    }

    input:focus,
    #country:focus {
        border-color: #a3a8b4;
    }

    .placeholder {
        color: black;
        position: absolute;
        font-size: 14px;
        pointer-events: none;
        top: 50%;
        margin-top: -10px;
        left: 12px;
        transition: 0.1s ease all;
        font-weight: 600;
    }

    input:focus~.placeholder,
    input.hasValue~.placeholder {
        top: 15px;
        font-size: 14px;
    }

    a[data-toggle="tooltip"] {
        cursor: pointer;
        position: absolute;
        font-size: 20px;
        top: 50%;
        margin-top: -15px;
        right: 12px;
        padding: 0;
    }

    button {
        background-color: $rose;
        color: #fff;
    }

    button:hover {
        background-color: rgba(211, 29, 93, 0.85);
        color: #FFF;
    }

    #remember-login {
        height: 1rem;
        transform: scale(1.5);
    }

    #remember-login~label {
        font-size: 14px;
    }

    #mail-error,
    #password-empty,
    #password-error {
        color: #D0021B;
        font-weight: bold;
        font-size: 13px;
    }

    #password-error {
        ul {
            list-style-position: inside;
            padding-left: 10px;
        }
    }
}

.signUp {
    .col-12:last-child {
        border-top: 1px dashed #a3a8b4;
    }

    #country {
        font-size: 16px;

    }

    #country~.placeholder {
        top: 10px;
        font-size: 14px;
    }

    #terms {
        font-size: 13px;

        a {
            text-decoration: underline;
        }
    }
}

//----------------------------------------   cart  -----------------------------------------------------------
.cart, .checkout {
    h1 {
        font-size: 15px;
        font-weight: bold;
    }

    h2 {
        font-size: 13px;
        font-weight: bold;
    }

    h3 {
        font-size: 11px;
        font-weight: bold;
    }

    .items {
        border-bottom: 1px solid black;
        border-top: 1px solid black;
    }

    .items-count {
        font-size: 20px;
        margin-bottom: 10px;
    }

    .media {
        img {
            width: 150px;
        }

        ul {
            list-style-type: none;
            padding: 0;
            font-size: 11px;
        }

    }

    .btn {
        border-radius: 0;
        border: 1px solid black;
        font-size: 11px;
        padding: 4px 10px 2px 10px;
        margin-right: 10px;
    }

    .btn:hover,
    .btn:active {
        background-color: #eee;
    }

    .item-name {
        font-size: 12px;
        font-weight: bold;
    }

    .item-price,
    .prod-quantity,
    .item-price~* {
        font-size: 11px;
    }

    
}

.cart-sidebar, .checkout-sidebar {
    font-size: 11px;
    &>div {
        max-width: 250px;
    }

    .summary {
        background-color: #e6e6e6;
        border: 1px solid #ccc;

        div:nth-child(2){
            border-bottom: .5px solid black;
        }

        .position-fixed {
            bottom: 0;
            left: 0;
            right: 0;
            background-color: #c5c6c7;
            z-index: 20;

            .btn {
                width: 70%;
                &::after{
                    border-top: 13px solid #c5c6c7;
                    border-bottom: 13px solid #c5c6c7;
                }
                
            }
        }
    }

    .promo-code {

        &>div:first-child {
            background-color: #e6e6e6;
            border: 1px solid #ccc;
            width: 100%;
        }

        &>div:first-child:hover,
        &>div:first-child:active {
            background-color: rgb(187, 185, 185);
            cursor: pointer;

            .btn {
                background-color: #eee;
            }
        }

        &>div:last-child {
            border: 1px solid #ccc;
            border-top: none;
        }

        .btn:first-of-type {
            padding: 3px 8px 1px;
            background-color: #fff;
        }

        .btn {
            padding: 1px 8px;
            border: 1px solid #ccc;
            color: black;
            font-weight: bold;
        }

        .btn:hover,
        .btn:active {
            background-color: #eee;
        }
    }

    .checkout-question {
        &>div:first-child {
            background-color: #e6e6e6;
            border: 1px solid #ccc;
            width: 100%;
        }

        &>div:last-child {
            border: 1px solid #ccc;
            border-top: none;
        }
    }



    h2 {
        border-bottom: 1px solid black;
    }

    a {
        font-size: 12px;
    }

    input:focus {
        border-color: #a3a8b4;
    }

    #sub-total {
        border-bottom: 1px solid black;
    }

    #grand-total {
        border-bottom: 2px solid #666;
    }

    .btn-checkout {
        background-color: #ff884e;
        border: none;
        position: relative;
        margin: 0;
        font-weight: bold;
        color: white;
        font-size: 12px;
        width: calc(100% - 13px);
    }

    .btn-checkout:hover,
    .btn-checkout:active {
        background-color: rgb(233, 99, 51);

        &:after {
            border-left: 13px solid rgb(233, 99, 51);
            transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
        }
    }

    .btn-checkout:after {
        border-left: 13px solid #ff884e;
        border-top: 13px solid #e6e6e6;
        border-bottom: 13px solid #e6e6e6;
        content: "";
        position: absolute;
        left: 100%;
        top: 0;
        transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    }

    .form-control {
        border-radius: 0;
        box-shadow: none;
        font-size: 13px;
    }

    .position-fixed{
        z-index: 1!important;
    }
}
//----------------------------------------   checkout  -----------------------------------------------------------
.checkout{
    .btn-change{
        font-size: 17px;
        font-weight: bold;
    }
    .text-muted{
        font-size: 11px;
        margin-bottom: 5px!important;
    }
    .checkout-info{
        border-top: 1px solid black;
        font-size: 13px;

        .date{
            font-size: 11px;
        }

        .shipping-method{
            background-color: #e6e6e6;
            border: 1px solid #ccc;
        }

        .breadcrumbs{
            font-size: 13px;
            i{
                font-size: 1rem;
            }
            a.text-dark{
                color: #57595a!important;
            }
            a.text-dark:hover{
                color: #000!important;
            }

        }
        .inactive{
            color: #CCCCCC
        }
    }

    label{
        font-size: 12px;
    }

    input{
        font-size: 12px;
        box-shadow: none !important;
    }

    input:focus,
    #country:focus {
        border-color: #a3a8b4;
        box-shadow: none;
    }

    .btn-checkout {
        background-color: #ff884e;
        border: none;
        position: relative;
        margin: 0;
        font-weight: bold;
        color: white;
        font-size: 12px;
        width: 100%;
        max-width: 250px;
        height: 50px;
        padding-top: 12px;
        padding-bottom: 12px;

        span{
            font-size: 17px;
            vertical-align: -2px;
        }
    }

    .btn-checkout:after {
        border-left: none;
        border-top: none;
        border-bottom: none;
        content: "";
    }

    .btn-checkout:hover,
    .btn-checkout:active {
        background-color: rgb(233, 99, 51);

        &:after {
            border-left: none;
        }
    }
}
.checkout-sidebar{
    
    #grand-total{
        border-bottom: none;
    }

    .btn-checkout {
        background-color: #ff884e;
        border: none;
        position: relative;
        margin: 0;
        font-weight: bold;
        color: white;
        font-size: 12px;
        width: 100%;
        padding-top: 12px;
        padding-bottom: 12px;

        span{
            font-size: 17px;
            vertical-align: -2px;
        }
    }

    .btn-checkout:after {
        border-left: none;
        border-top: none;
        border-bottom: none;
        content: "";
    }

    .btn-checkout:hover,
    .btn-checkout:active {
        background-color: rgb(233, 99, 51);

        &:after {
            border-left: none;
        }
    }
}