@media (min-width: 991.98px){
    .dropdown:hover{
        .dropdown-toggle::after{
            transform: rotate(180deg);
            transition: .4s;
        }
        .dropdown-menu.show{
            border-top: 20px solid transparent !important;
            animation: slide-top-nav 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }
    }
}

@media (min-width: 991.98px) and (max-width: 1200px) {
    .dropdown.pages,
    .dropdown.features{
        .dropdown-menu{
            left: -200%;
        }
    }
    
}

@media (max-width: 991.98px) {
    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        background-color: blueviolet;
        overflow-y: auto;
    }
    .dropdown.shop,
    .dropdown.pages,
    .dropdown.features{
        .dropdown-menu{
            width: 100%;
            border-radius: 0;
        }  
    }
    .dropdown:active{
        .dropdown-toggle{
            background-color: white;
            color: $rose!important;
        }
    }
    #navbarSearch{
        form{
            input{
                font-size: 2rem;
            }
            .btn-outline-success{
                font-size: 2rem;
            }
        }
    }
    #navbarProfile{
        bottom: 0%;
    }
    
}

@media (min-width: 575.98px)  and (max-width: 991.98px) { 
    .navbar-collapse {
        width: 40vw;
    }
}
@media (min-width: 576px) and (max-width: 767.98px) { 
    #navbarProfile{
        .row>div:nth-child(2){
            border-right: none;
        }
    }

}
@media (max-width: 575.98px){ 
    .navbar-collapse {
        width: 80vw;
    }
    #navbarSearch{
        form{
            input{
                font-size: 1rem;
            }
            .btn-outline-success{
                font-size: 1rem;
            }
            hr{
                border: 2px solid #dedede ;
                margin-left: 0px;
                margin-right: 0;
                margin-top: 15px;
    
            }
        }
        .close{
            font-size: 3rem;
        }
    }
    #navbarProfile{
        .close{
            font-size: 3rem;
        }
        .row>div{
            border-right: none;
        }
    }
}
