@media (min-width: 991.98px) {
    .navbar.navbar-colored {
        background-color: #FFF;
        animation: scale-down-height .5s ease-out both;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);

        .dropdown{
            .dropdown-toggle::after{
                color: black;
            }
        }
    
        .nav-link{
            color: black!important;
        }

        #navbarSearch{
            position: fixed;
            z-index: 10;
        }

        .navbar-brand {
            animation: scale-down-top .5s ease-out both;
            margin-top: -10px;
        }

        .navbar-nav {
            a.nav-item {
                animation: scale-down-top-navbar-nav 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }

            margin-left: 0 !important;
            margin-top: 3px !important;
            transition: margin .4s;
        }

        #navbarNavCollapse {
            margin-top: 0 !important;
        }

        #nav-right {
            margin-top: 0px !important;
        }
    }

    .navbar {
        .navbar-brand {
            animation: scale-up-top .5s ease-out both;
            margin-top: -8px;
        }

        .navbar-nav {
            a.nav-item {
                animation: scale-up-top-navbar-nav 1s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }

            transition: margin .4s;
        }
        .dropdown:hover {
            .dropdown-toggle::after {
                transform: rotate(180deg);
                transition: .4s;
            }
    
            .dropdown-menu.show {
                border-top: 21px solid transparent !important;
                animation: slide-top-nav 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
    }

    

    .navbar-collapse {

        .dropdown-item:hover,
        a.nav-header:hover {
            color: $rose !important;
            background-color: white;
            transition: 700ms;
        }
    }

    

}


@media (min-width: 991.98px) and (max-width: 1200px) {

    .dropdown.pages,
    .dropdown.features {
        .dropdown-menu {
            left: -200%;
        }
    }

}

@media (max-width: 991.98px) {
    .navbar {
        background-color: #fff;
        animation: scale-down-height .5s ease-out both;
        box-shadow: 0 0 5px rgba(0,0,0,0.2);

        .dropdown{
            .dropdown-toggle::after{
                color: black;
            }
        }
    
        .nav-link{
            color: black!important;
        }

        #navbarSearch{
            position: fixed;
            z-index: 10;
        }

    }

    nav {
        height: 62px;
    }

    .navbar-hide {
        animation: slide-top-navbar 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        display: none;
    }

    .navbar-show {
        animation: slide-down-navbar 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940);
        display: flex;
    }

    .navbar-brand {
        margin-top: -12px;

        img {
            width: 60px;
            height: 60px;
        }

    }

    .navbar-collapse {
        position: absolute;
        top: 100%;
        left: 0;
        right: 0;
        background-color: rgba(35, 35, 35, 0.5);
        .navbar-nav{
            background-color: rgb(35, 35, 35);
            height: 100%;
            overflow-y: scroll;
        }
    }

    .dropdown.shop,
    .dropdown.pages,
    .dropdown.features {
        .dropdown-menu {
            width: 100%;
            border-radius: 0;
            margin-top: 0;
            background-color: #232323;
        }
    }

    .navbar-collapse {

        .dropdown-item,
        a.nav-header,
        h1.nav-header {
            color: white !important;
        }

        a.dropdown-item:active,a.dropdown-item:focus{
            color: $rose !important;
            background-color: #232323!important;
        }
    }
    nav{
        .dropdown:active,
        .dropdown.show {
            .dropdown-toggle {
                background-color: white;
                color: $rose !important;
                transition: 500ms;
            }
    
            & .dropdown-toggle::after {
                color: $rose !important;
                transition: 500ms;
            }
        }
        
    }
    

    #navbarSearch {
        form {
            input {
                font-size: 2rem;
            }

            .btn-search {
                font-size: 2rem;
            }
        }
    }

    #navbarProfile {
        bottom: 0%;   
        .bg-white{
            height: 90vh;
        }
    }
    

    .collapse{
        .nav-link{
            color: white!important;
        }
        .dropdown{
            .dropdown-toggle::after{
                color: white;
            }
        }
    }
}

@media (min-width: 575.98px) and (max-width: 991.98px) {
    .navbar-collapse {
        .navbar-nav{
            width: 40vw;        }
    }
}

@media (min-width: 576px) and (max-width: 767.98px) {
    #navbarProfile {
        .row>div:nth-child(2) {
            border-right: none;
        }
    }

}

@media (max-width: 575.98px) {
    .navbar-collapse {
        .navbar-nav{
            width: 80vw;
        }
    }

    #navbarSearch {
        form {
            input {
                font-size: 1rem;
            }

            .btn-search {
                font-size: 1rem;
            }

            hr {
                border: 2px solid #dedede;
                margin-left: 0px;
                margin-right: 0;
                margin-top: 15px;

            }
        }

        .close {
            font-size: 3rem;
        }
    }

    #navbarProfile {
        .close {
            font-size: 3rem;
        }

        .row>div {
            border-right: none;
        }
    }
}